.jumbo-center {
  font-family: serif;
  color: black;
  background-color: white;
  opacity: .9;
}

.jumbo-bg-intro {
  background-color: transparent;
}

.jumbo-bg-bio {
  background-color: transparent;
  background-size: cover;
}

nav {
  font-family: serif;
}

.navbar {
  background-color: yellow;
}

body {
  color: black;
  /* background-color: #3D3D3D; */
  background: url(https://live.staticflickr.com/5522/10818756103_e8ee01e1a5_b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: black;
}

h1 {
  font-family: serif;
  color: black;
  opacity: 1;
}

.jumbo-bg-pub {
  background-color: #3D3D3D;
  background-size: cover;
}

.row .col-lg-6 {
  text-align: center;
}

.col-lg-6 img {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: serif;
  color: black;
  background-color: white;
  opacity: 90%;
  width: 60%;
  height: 60%;
  font-size: 125%;
}

.page-footer {
  background-color: black;
}

.tw-ic {
  color: yellow;
}

.mail {
  color: yellow;
}

.footer-copyright {
  background-color: yellow;
  color: yellow;
}
